<%= render 'partial/navbar' %>
<div class="container">
  <div class="profile-edit row">
    <div class="col-md-3 row-space-4">
      <!--  自分のプロフィールへのリンク -->
      <%= link_to "お仕事を確認する" , class: "btn btn-default btn-full" %>
    </div>
    
    <div class="col-md-9">
    <div class="panel panel-success panel-default">
    	<div class="panel-heading">
    		お仕事の追加
    	</div>
    	<div class="panel-body row">
    	  <div class="col-md-10">
          <%= render partial: "shared/job_form", locals: { job: @job } %>
        </div>
    	</div>
    </div>
    </div>
  </div>
</div>
<%= render 'partial/footer' %>

<script>
  $(function(){
    $("#datepicker").datepicker();
  });
  $(document).ready(ready)
  $(document).on('turbolinks:load', ready)
</script>
<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>