<div  id="footer">

		<!-- footer nav -->
		<ul class="navbar-nav list-inline">
			<li class="first">
				<a href="">運営会社</a>
			</li>
			<li>
				<a href="">関連会社</a>
			</li>
			<li>
				<a href="">利用規約</a>
			</li>
			<li>
				<a href="">社会貢献</a>
			</li>
			<li style="width:100px;">
				<a href="">お問い合わせ</a>
			</li>
		</ul>

		<!-- clear fix -->
		<div class="clearfix"></div>
		<!-- sns icons -->
		<ul class="sns-icon list-inline">
			<li>
				<i class="fa fa-twitter"></i>
			</li>
			<li>
				<i class="fa fa-facebook"></i>
			</li>
			<li>
				<i class="fa fa-instagram"></i>
			</li>
		</ul>
		<!-- copy right -->
		<div class="copy">
			<span>Copyright &#169; 2015 All Rights Reserved.</span>
		</div>
	</div>